<a href="https://colab.research.google.com/github/LIMSONA/30min_summary_study/blob/main/1_PYTHON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
n='one two three'
a=n.split()
print(a)
b='!'.join(a)
print(b)

['one', 'two', 'three']
one!two!three

In [2]:
print('제 이름은 {}입니다. 제 나이는{}입니다.'.format('푸린',31))

제 이름은 푸린입니다. 제 나이는31입니다.

In [3]:
a=2021
b=11
c=22

#2021/11/22 원함
print(a,b,c, sep='/', end=' ')
print(a,b,c)

2021/11/22 2021 11 22

In [4]:
# 클래스

class Car():
    maxspped=300
    maxpeople=5
    def start(self):
        print('출발')
    def stop(self):
        print('정지')
    def __str__(self): 
        return 'hello world'
    def __init__(self):
        print ('인스턴스가 만들어졌습니다')
        
k9=Car()
print(k9.maxpeople)

class Hybrid(Car):
    battery=1000
    battryKM=300
    
k3=Hybrid()
print(k9)

인스턴스가 만들어졌습니다
5
인스턴스가 만들어졌습니다
hello world